<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Contrato Laboral </title>
    <link rel="stylesheet" href="contrato.css"/>
</head>
<body>
<div class="documento">
    <!-- HEADER -->
    <div class="header">
        <h1 class="empresa" id="encabezado">
            VC ELECTRICOS CONSTRUCCIONES SAS
        </h1>

        <img src="LogoEmpresa.jpeg" class="logo" />

        <h2 class="titulo_contrato">
            CONTRATO INDIVIDUAL DE TRABAJO POR DURACION DE LA OBRA O LABOR CONTRATADA
        </h2>
    </div>

    <div class="contenedor-contrato">
        <!-- ================= EMPRESA ================= -->
        <div class="seccion-titulo">DATOS DE LA EMPRESA EMPLEADORA</div>

        <table class="tabla-info">
            <tr>
                <td class="label">NOMBRE DEL EMPLEADOR</td>
                <td class="valor">VC ELECTRICOS CONSTRUCCIONES SAS</td>
            </tr>
            <tr>
                <td class="label">NIT.</td>
                <td class="valor">900.820.830 - 1</td>
            </tr>
            <tr>
                <td class="label">DIRECCION DEL EMPLEADOR</td>
                <td class="valor">CR 150 # 143 - 34</td>
            </tr>
        </table>

        <!-- ================= TRABAJADOR ================= -->
        <div class="seccion-titulo">DATOS DEL TRABAJADOR</div>

        <table class="tabla-info">
            <tr>
                <td class="label">NOMBRE COMPLETO</td>
                <td class="valor">${trabajadorNombre}</td>
            </tr>
            <tr>
                <td class="label">CEDULA</td>
                <td class="valor">${trabajadorCedula}</td>
            </tr>
            <tr>
                <td class="label">DIRECCION DEL TRABAJADOR</td>
                <td class="valor">${trabajadorDireccion}</td>
            </tr>
            <tr>
                <td class="label">LUGAR Y FECHA DE NACIMIENTO</td>
                <td class="valor">${lugarNacimiento}, ${trabajadorNacimiento}</td>
            </tr>
            <tr>
                <td class="label">EDAD</td>
                <td class="valor">${trabajadorEdad}</td>
            </tr>
            <tr>
                <td class="label">ESTADO CIVIL</td>
                <td class="valor">${trabajadorEstadoCivil}</td>
            </tr>
            <tr>
                <td class="label">TELEFONOS</td>
                <td class="valor">${trabajadorTelefono}</td>
            </tr>
        </table>

        <!-- ================= CARGO ================= -->
        <div class="seccion-titulo">DATOS SOBRE EL CARGO A DESEMPEÑAR</div>

        <table class="tabla-info">
            <tr>
                <td class="label">CARGO U OFICIO QUE DESEMPEÑA</td>
                <td class="valor">${cargo}</td>
            </tr>
            <tr>
                <td class="label">SALARIO</td>
                <td class="valor">$ ${salario}</td>
            </tr>
            <tr>
                <td class="label">PERÍODO DE PAGO</td>
                <td class="valor">QUINCENAL</td>
            </tr>
            <tr>
                <td class="label">FECHA DE INICIACION DE LABORES</td>
                <td class="valor">${fechaInicio}</td>
            </tr>
        </table>
    </div>

    <div class="seccion-clausulas">
        <p class="clausula">En Bogotá, D.C., a los <strong>${text_dias}(${num_dias})</strong> días del mes de
            <strong>${mes}</strong> del año
            <strong>${text_año} (${num_año})</strong>, concurren las partes antes identificadas quienes hemos
            celebrado el presente <strong>CONTRATO LABORAL</strong>,
            el cual se regirá por las siguientes clausulas:

            <br /><br />
            <span class="titulo-clausula">PRIMERO: OBJETO.</span>
            El EMPLEADOR contrata los servicios personales del TRABAJADOR y éste se obliga: a) a poner al servicio
            del EMPLEADOR toda su capacidad normal de trabajo,
            en forma exclusiva en el desempeño de las funciones propias del oficio mencionado y en las labores
            anexas y complementarias del mismo,
            de conformidad con las órdenes e instrucciones que le imparta EL EMPLEADOR directamente o a través de
            sus representantes.
            b) a no presentar directa ni indirectamente servicios laborales a otros EMPLEADORES,
            ni a trabajar por cuenta propia en el mismo oficio, durante la vigencia de este contrato;
            y c) a guardar absoluta reserva sobre los hechos, documentos físicos y/o electrónicos informaciones y en
            general,
            sobre todos los asuntos y materia que lleguen a su conocimiento por causa o con ocasión de su contrato
            de trabajo.
            d) a cumplir con la jornada laboral asignada por EL EMPLEADOR o sus representantes.
            e) a cuidar los elementos de trabajo entregados por EL EMPLEADOR o sus representantes, para el
            desarrollo de la labor contratada.
            EL TRABAJADOR declara estar capacitado para desempeñar los servicios requeridos por LA EMPRESA. <strong>
                PARRAFO PRIMERO </strong>.
            EL TRABAJADOR se obliga a aceptar los cambios de oficio que decida EL EMPLEADOR dentro de su poder
            subordinante,
            siempre que se respete las condiciones laborales de EL TRABAJADOR y no se le causen perjuicios, para lo
            cual deberá existir la orden escrita.

            <br /><br />
            <span class="titulo-clausula"> SEGUNDO: </span>
            SEGUNDO: El lugar de contratación de EL TRABAJADOR será Bogotá, no obstante lo anterior los servicios
            que ha de prestar
            EL TRABAJADOR podrán desarrollarse en los diferentes lugares, y/o ciudades de Colombia donde la EMPRESA
            contratante desarrolle sus actividades,
            por lo que EL TRABAJADOR se obliga a prestar servicio contratado en el lugar donde le indique el
            EMPLEADOR o sus representantes dentro del
            territorio colombiano y excepcionalmente fuera de él cuando las necesidades del servicio así lo
            exigieren.<strong> PARRAFO PRIMERO </strong>.
            Las partes podrán convenir que el trabajo se preste en lugar distinto del inicialmente contratado,
            siempre que tales traslados no
            desmejoren las condiciones laborales o de remuneración de EL TRABAJADOR, o implique perjuicios para él.
            Los gastos que se originen con el traslado,
            serán cubiertos por EL EMPLEADOR, de conformidad con el numeral 8° del Articulo 57 del Código sustantivo
            del Trabajo.<strong> SEGUNDO PARRAFO </strong>.
            En el supuesto de que el empleador requiera la presencia del trabajador en lugares no contemplados en el
            presente contrato, el empleador
            estará obligado a sufragar el transporte intermunicipal al centro de trabajo o de acuerdo a convenir con
            el TRABAJADOR.

            <br /><br />
            <span class="titulo-clausula">TERCERO: DURACION </span>
            El presente contrato será por la duración de la obra o labor contratada, y tendrá vigencia única y
            exclusivamente mientras VC ELECTRICOS CONSTRUCCIONES SAS solicite el servicio de EL TRABAJADOR, una vez
            se notifique la decisión por parte de la empresa, LA EMPRESA puede darlo por terminado de acuerdo a los
            dispositivos legales vigentes, salvo que EL TRABAJADOR concluya con sus servicios antes de la
            culminación de la obra o labor para la cual fue contratado. El inicio de las labores del TRABAJADOR será
            a partir del día ${text_dias_iniciacion}(${num_dias_iniciacion}) de ${mes_iniciacion} de ${num_año_iniciacion}. PARRAFO UNICO. PERIODO DE PRUEBA.
            Las partes pactan
            como periodo de prueba treinta (30) días, término que no excede el límite establecido por el Código
            Sustantivo del Trabajo. Durante este periodo las partes podrán dar por terminado unilateralmente el
            contrato, sin que la parte que da por terminado el vínculo deba reconocer a la otra parte indemnización
            alguna. El TRABAJADOR está sujeto a periodo de prueba a partir del inicio del contrato.

            <br /><br />
            <span class="titulo-clausula">CUARTO: JORNADA</span>
            El TRABAJADOR se obliga a laborar la jornada máxima legal, salvo estipulación expresa y escrita en
            contrato, cumpliendo con los turnos y horarios que señale el EMPLEADOR, quien podrá cambiarlos o
            ajustarlos cuando lo estime conveniente. <strong> PARRAFO UNICO. </strong> No obstante, las partes de
            común acuerdo pactan
            que EL TRABAJADOR laborara en los turnos y dentro de las horas señaladas por EL EMPLEADOR, pudiendo
            hacer éste ajustes o cambios de horario cuando lo estime conveniente.

            <br /><br />
            <span class="titulo-clausula">QUINTO: OBLIGACIONES DEL TRABAJADOR </span>
            En el desempeño de su cargo EL TRABAJADOR cumplirá con las obligaciones que a continuación se detallen,
            sin que estas tengan carácter limitativo: a) desarrollar todas las labores inherentes al cargo,
            especificado anteriormente, sin limitación alguna, así como aquellas que le pudiera impartir LA EMPRESA.
            b) observar y cumplir las órdenes y directivas que le sean impartidas por sus superiores y por los
            representantes o ejecutivos competentes de LA EMPRESA. c) reportar inmediato toda anomalía que sea
            observada. d) desarrollar con diligencia y cuidado las labores asignadas o cualquier otra función que
            determine el empleador o sus representantes o por su jefe inmediato. e) cumplir rigurosamente las normas
            que le fije LA EMPRESA para la realización de la labor a que se refiere el presente contrato. f) guardar
            estricta reserva, salvo, autorización expresa de EL EMPLEADOR, de todas aquellas informaciones que
            lleguen a su conocimiento, en razón de su trabajo, que sean por naturaleza privadas, y cuya comunicación
            a otras personas pueda causar perjuicio a EL EMPLEDOR. g) Ejecutar por sí mismo las funciones asignadas
            y cumplir estrictamente las instrucciones que le sean dadas por la EMPRESA, o por quienes la
            representen, respecto del desarrollo de sus actividades. h) cuidar permanentemente los intereses de la
            EMPRESA. i) dedicar la totalidad de su jornada de trabajo a cumplir a cabalidad con sus funciones. j)
            programar diariamente su trabajo y asistir puntualmente a las reuniones que efectur la EMPRESA a las
            cuales hubiere sido citado. L) observar completa armonía y comprensión con los superiores y demás
            compañeros de trabajo, en las relaciones personales y en la ejecución de su labor. m) cumplir con las
            funciones asignadas con espíritu de lealtad, colaboración y disciplina con EL EMPLEADOR. n) avisar
            oportunamente y por escrito, a EL EMPLEADOR todo cambio en de dirección, teléfono o ciudad de
            residencia. ñ) tener una excelente presentación personal y limpieza con el uniforme de trabajo. <strong>
                PARRAFO UNICO.</strong>
            EL TRABAJADOR será el directo responsable del funcionamiento y buen uso de equipos, herramientas y
            elementos entregados por la EMPRESA para el desarrollo de las actividades por las que fue contratado o
            aquellas en las que especialmente fue encomendado.

            <br /><br />
            <span class="titulo-clausula">SEXTO: SALARIO.</span>
            El EMPLEADOR pagará AL TRABAJADOR, por sus servicios la suma de ${valor_letras} MIL DE PESOS M/CTE
            ($ ${salario}), salario que será cancelado en forma QUINCENAL, dando un abono a los QUINCE (15) días de
            cada mes.<strong>PARRAFO PRIMERO </strong>. Dentro de este pago se encuentra incluida la remuneración de
            los descansos
            dominicales y festivos de que tratan los capítulos I Y II del título VII del Código Sustantivo del
            Trabajo.<strong> PARRAFO SEGUNDO. </strong> Las partes expresamente acuerdan que lo que reciba EL
            TRABAJADOR, adicional a
            su salario ordinario, ya sean beneficios o auxilios habituales u ocasionales, tales como alimentación,
            habitación o vestuario, bonificaciones o cualquier otro rubro que reciba por mera liberalidad de EL
            EMPLEADOR, durante la vigencia del contrato, en dinero o en especie, no constituye salario ni factor de
            salario para liquidación de aportes al sistema de seguridad social, parafiscales, prestaciones sociales
            y vacaciones.

            <br /><br />
            <span class="titulo-clausula">SEPTIMO: CONFIDENCIALIDAD.</span>
            El TRABAJADOR reconoce que la Empresa contratante ha hecho, o puede poner a su disposición ciertas
            listas de clientes, datos de precios, fuentes de suministro, técnicas, información computarizada, mapas,
            los métodos, productos de diseño, la información, y/o información de la empresa o sus clientes como
            material escrito, registros, documentos, dibujos, planos, fotografías, videos, programas de computador,
            software, multimedia, programas fijos, invenciones, descubrimientos, formulas químicas del producto,
            logo de la empresa y de cada producto, ideas promocionales, lista de clientes, información de precios,
            procesos, pruebas, conceptos, formulas, métodos de producción, información de mercado, técnicas de
            procesamiento, secreto de fabricación del producto y/o la investigación relacionada con la mejora en la
            fabricación de productos, organización de ventas, métodos de comercialización, publicidad, no solo de la
            empresa principal sino también de sus afiliados, sucursales o entidades relacionadas, incluyendo sin
            restricción, secretos de fabricación, invenciones, patentes y materiales con derechos de autor del
            empleador MÁS TODO LO QUE SE CONSIDERE MATERIAL INFORMACIÓN CONFIDENCIAL: El TRABAJADOR reconoce que
            esta información tiene un valor económico, real o potencial, que no es generalmente dado a conocer al
            público o a los otros que podrían obtener el valor económico de su descubrimiento o empleo y que esta
            información es sujeta a un esfuerzo razonable por la Empresa de mantener su secreto y confidencialidad.
            Así mismo, el TRABAJDOR no hará ninguna duplicación u otra copia del Material confidencial. El
            TRABAJADOR devolverá inmediatamente se le solicite por parte de la Empresa todo el material confidencial
            que se le haya entregado. El TRABAJADOR notificara a la Empresa cualquier descubrimiento que hayas
            hecho, considerándose esto como parte del Material Confidencial. El TRABAJADOR se compromete a no
            utilizar información o Material confidencial en la ejecución y finalización y después de la relación
            Laboral. <strong>PARÁGRAFO UNO: </strong>El TRABAJADOR reconoce que una condición de esta relación
            consiste en que no ha
            traído y no traerá o usara en el desempeño de sus deberes en la Empresa cualquier información de
            carácter confidencial de un antiguo Empleador o Contratante sin la autorización escrita de aquel
            Empleador o Contratante. La violación de esta condición causa la terminación a automática de la relación
            laboral <strong>PARÁGRAFO DOS: </strong>El TRABAJADOR conviene que terminado el contrato que dio origen
            a este Acuerdo de
            Confidencialidad, no inducirá o intentara contratar a los trabajadores de la Empresa para crear un nuevo
            negocio que compita en el mismo ramo mercantil, de igual forma por el termino de cinco años luego
            terminada la relación con la Empresa, El Trabajador no dará a conocer directamente o indirectamente a
            cualquier persona, firma o corporación los nombres o las direcciones de cualquiera de los clientes de la
            Empresa o cualquier otra información que les pertenece, o visitaran, buscaran clientes, se levaran, o
            intentaran visitar, buscar clientes o llevarse cualquier cliente de Empresa sobre quien el Trabajador se
            halla contactado o para cualquier otra persona, firma o corporación.<strong>PARÁGRAFO TRES: </strong> El
            TRABAJADOR que
            viole alguna de las disposiciones antes mencionadas en relación con lo que se considera objeto de la
            Confidencialidad, pagara una multa de cien salarios mínimos mensuales legales vigentes, sin perjuicio de
            las demás acciones laborales, comerciales y penales a que haya lugar para le reclamación de
            indemnización de perjuicios ocasionados con la violación a la Confidencialidad aquí suscrita, siendo
            además causa de terminación del contrato de trabajo de manera inmediata. Este acuerdo de
            Confidencialidad comienza con la firma del Contrato Laboral y permanecerá vigente mientras este
            subsista, manteniéndose inclusive durante las prórrogas.

            <br /><br />
            <span class="titulo-clausula"> OCTAVO: </span>
            EL TRABAJADOR cede y transfiere a LA EMPRESA en forma total, integral y exclusiva los derechos
            patrimoniales derivados de los trabajos e informes que sean realizados en cumplimiento del presente
            contrato, quedando LA EMPRESA facultada para publicar o reproducir en forma integral o parcial dicha
            información. En consecuencia, toda información creada u originada es de propiedad exclusiva de LA
            EMPRESA. Se deja constancia que la información comprende inclusive las investigaciones, los borradores,
            los trabajos preliminares y la tecnología utilizada.

            <br /><br />
            <span class="titulo-clausula"> NOVENO: PROHIBICIONES ESPECIALES DEL TRABAJDOR. </span>
            Además de las prohibiciones de orden legal y reglamentario, las partes estipulan las siguientes
            prohibiciones especiales a los TRABAJADORES: 1) solicitar préstamos especiales o ayuda económica a los
            clientes o potenciales clientes del EMPLEADOR, aprovechándose de su cargo u oficio o aceptarles
            donaciones de cualquier clase, 2) autorizar o ejecutar sin ser de su competencia, operaciones que
            afecten los intereses de EL EMPLEADOR o negociar bienes y/o mercancías del EMPLEADOR en provecho propio,
            3) retener bienes o elementos de propiedad del EMPLEADOR, 4) presentar cuentas o gastos ficticias o
            reportar como cumplidas visitas o tareas no efectuadas, 5) cualquier actitud en los compromisos o en las
            relaciones sociales, que pueda afectar en forma nociva la reputación del EMPLEADOR, 6) retirar de las
            instalaciones de la empresa elementos, máquinas y útiles de propiedad del EMPLEADOR sin autorización
            escrita, 7) ingerir bebidas alcohólicas o sustancias enervantes dentro de las instalaciones de la
            empresa, 8) presentar a desarrollar la jornada laboral bajo el estado de alicoramiento o bajo la
            influencia de bebidas embriagantes o enervantes.

            <br /><br />
            <span class="titulo-clausula">DECIMO: JUSTAS CAUSAS DE TERMINACION.</span>
            Son justas causas para dar por terminado unilateralmente este contrato, por cualquiera de las partes,
            las enumeradas en los Artículos 62 y 63 del C.S.T, modificado por el Art. 7º del Decreto 2351/65 y
            demás, por parte del EMPLEADOR, las faltas que para el efecto se clasifiquen como graves en reglamentos
            y demás documentos que contengan reglamentaciones, órdenes, instructivos o prohibiciones de carácter
            general o particular, pactos, convenciones colectivas, laudos arbítrales y las que expresamente
            convengan calificar así en escritos que formarán parte integrante del presente contrato. Además de lo
            anteriormente enunciado expresamente se califican en este acto como faltas graves la violación a las
            obligaciones y prohibiciones descritas y además las siguientes: a) El incumplimiento de las normas y
            políticas que tenga la compañía para el uso de los sistemas, informática, software, claves de seguridad,
            materiales, computadores, útiles de oficina etc., que la Empresa entrega al trabajador para la mejor
            ejecución de sus funciones. Así como violación a lo contenido en las normas de seguridad industrial. b)
            La utilización para fines distintos a los considerados por el Empleador para el cumplimiento de su
            objeto social de las bases de datos de su propiedad. c) Desatender las actividades de capacitación
            programadas por el Empleador así sea en horario diferente a la jornada ordinaria. d) La mala atención y
            desinterés para con los clientes y proveedores. e) En caso de laborar en turnos, efectuar cambios sin la
            debida autorización del jefe inmediato. f) Llegar tarde al sitio de trabajo. g) No cumplir con las
            normas de seguridad industrial en los sitios de trabajo/ obras. h) Negarse a cumplir con los protocolos
            y procesos para la prestación de servicios encomendados, y demás establecidos por la Empresa en
            desarrollo de su objeto social.I) Desatender las obligaciones antes mencionadas constituye justa causa
            para dar por terminado el contrato por parte del Empleador. j) Violar el acuerdo de confidencialidad
            determinado por la Empresa.<strong> PARRAFO UNO. </strong> Este contrato tendrá efectos a partir de su
            firma. Este
            contrato reemplaza en su totalidad cualquier otro contrato laboral, verbal o escrito, que hubiera
            vinculado a las partes anteriormente. Cualquier modificación posterior a la firma de este contrato
            deberá constar en documento escrito suscrito por ambas partes.

            <br /><br />
            Para constancia se firma en BOGOTA, D.C., a los ${text_dias}(${num_dias}) días del mes de ${mes} de
            ${num_año},
            en dos ejemplares de igual valor y tenor con destino a cada una de las partes.
        </p>
    </div>

    <div class="firmas">
        <div class="firma">
            <h3>EL EMPLEADOR</h3>
            <div class="linea-firma"></div>
            <p class="nombre-firma">VC ELECTRICOS CONSTRUCCIONES SAS</p>
            <p class="nombre-firma">VICTOR JULIO CARVAJAL RINCON</p>
            <p class="nombre-firma">C.C. 17.529.679 DE SARAVENA</p>
            <p class="cargo-firma">Representante Legal</p>
        </div>

        <div class="firma">
            <h3>EL TRABAJADOR</h3>
            <div class="linea-firma"></div>
            <p class="nombre-firma">CARGO: ${cargo}</p>
            <p class="nombre-firma">${trabajadorNombre}</p>
            <p class="cargo-firma">C.C. ${trabajadorCedula}</p>
        </div>
    </div>

    <div class="footer" id="footer">
        <div class="linea-footer"></div>
        <p>VC ELECTRICOS CONSTRUCCIONES SAS</p>
        <p>CR 150 No. 143-34</p>
        <p>Tel. 311 868 14 05</p>
        <p>vcelectricos@hotmail.com</p>
    </div>
</div>

</body>
</html>